In [2]:
# Importing libraries

import requests

import pandas as pd

from dotenv import load_dotenv

import os

In [3]:
# ⚙️ Settings
pd.set_option('display.max_columns', None) # display all columns
import warnings
warnings.filterwarnings('ignore') # ignore warnings

In [4]:
# import dataframe with names of the members of parliament which was extracted from the website of the German Bundestag by Webscraping

df_names = pd.read_csv("df_namen.csv")

## Creating .env file with API key from the German Bundestag

In [6]:
print(os.path.isfile(".env"))

False

In [7]:
load_dotenv()

False

In [8]:
key_BT = os.getenv("API_KEY")

## Extracting data from the German Bundestag using their API

In [10]:
new_url_1 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response1 = requests.get(new_url_1)

new_data1 = new_response1.json()

In [11]:
new_response1.status_code

200

In [12]:
new_url_2 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJwkJq-q5IDK1BlcnNvbi0yMDg0&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response2 = requests.get(new_url_2)

new_data2 = new_response2.json()

In [13]:
new_url_3 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJw0Im7mZIDK1BlcnNvbi0xMDQz&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response3 = requests.get(new_url_3)

new_data3 = new_response3.json()

In [14]:
new_url_4 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJwkL7xlpIDK1BlcnNvbi0yMjcy&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response4 = requests.get(new_url_4)

new_data4 = new_response4.json()

In [15]:
new_url_5 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJwkKfekZIDK1BlcnNvbi0yMjA4&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response5 = requests.get(new_url_5)

new_data5 = new_response5.json()

In [16]:
new_url_6 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJwkJ3r8pEDK1BlcnNvbi0xNDk0&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response6 = requests.get(new_url_6)

new_data6 = new_response6.json()

In [17]:
new_url_7 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJw0MOVwZADK1BlcnNvbi03NjYx&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response7 = requests.get(new_url_7)

new_data7 = new_response7.json()

In [18]:
new_url_8 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJw0OfIrJADK1BlcnNvbi03NzI1&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response8 = requests.get(new_url_8)

new_data8 = new_response8.json()

In [19]:
new_url_9 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJw0J72jI8DK1BlcnNvbi03NDcw&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response9 = requests.get(new_url_9)

new_data9 = new_response9.json()

In [20]:
new_url_10 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJw-MLItowDK1BlcnNvbi03Njc3&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response10 = requests.get(new_url_10)

new_data10 = new_response10.json()

In [21]:
new_url_11 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJwkJy68IADK1BlcnNvbi03NTg5&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response11 = requests.get(new_url_11)

new_data11 = new_response11.json()

In [22]:
# coverting each dictionary into a dataframe
new_df1 = pd.DataFrame(new_data1)
new_df2 = pd.DataFrame(new_data2)
new_df3 = pd.DataFrame(new_data3)
new_df4 = pd.DataFrame(new_data4)
new_df5 = pd.DataFrame(new_data5)
new_df6 = pd.DataFrame(new_data6)
new_df7 = pd.DataFrame(new_data7)
new_df8 = pd.DataFrame(new_data8)
new_df9 = pd.DataFrame(new_data9)
new_df10 = pd.DataFrame(new_data10)
new_df11 = pd.DataFrame(new_data11)

In [23]:
#concatenating the dataframes
new_df = pd.concat([new_df1,new_df2,new_df3,new_df4,new_df5,new_df6,new_df7,new_df8,new_df9,new_df10,new_df11], axis=0)

new_df

,numFound,documents,cursor
0,1053,"{'id': '847', 'nachname': 'Pau', 'vorname': 'P...",AoJwkKSxypIDK1BlcnNvbi03Mjk3
1,1053,"{'id': '7672', 'nachname': 'Benkstein', 'vorna...",AoJwkKSxypIDK1BlcnNvbi03Mjk3
2,1053,"{'id': '7559', 'nachname': 'Bünger', 'vorname'...",AoJwkKSxypIDK1BlcnNvbi03Mjk3
3,1053,"{'id': '7490', 'nachname': 'Reichinnek', 'vorn...",AoJwkKSxypIDK1BlcnNvbi03Mjk3
4,1053,"{'id': '7457', 'nachname': 'Naujok', 'vorname'...",AoJwkKSxypIDK1BlcnNvbi03Mjk3
...,...,...,...
37,1053,"{'id': '1933', 'nachname': 'Behrendt', 'vornam...",AoJw-Kvw9_wCK1BlcnNvbi03MDMy
38,1053,"{'id': '1984', 'nachname': 'Maas', 'vorname': ...",AoJw-Kvw9_wCK1BlcnNvbi03MDMy
39,1053,"{'id': '1741', 'nachname': 'Maas', 'vorname': ...",AoJw-Kvw9_wCK1BlcnNvbi03MDMy
40,1053,"{'id': '7503', 'nachname': 'Luft', 'vorname': ...",AoJw-Kvw9_wCK1BlcnNvbi03MDMy
41,1053,"{'id': '7032', 'nachname': 'Kerber', 'vorname'...",AoJw-Kvw9_wCK1BlcnNvbi03MDMy

In [24]:
new_df.shape

(1042, 3)

In [25]:
# converting the concatenated dataframe back to a dictionary to be able to extract data
dict_new_df = dict(new_df)

In [26]:
# extracting the key "documents" from the dictionary
documents = dict_new_df.get("documents")

In [27]:
documents.keys

<bound method Series.keys of 0     {'id': '847', 'nachname': 'Pau', 'vorname': 'P...
1     {'id': '7672', 'nachname': 'Benkstein', 'vorna...
2     {'id': '7559', 'nachname': 'Bünger', 'vorname'...
3     {'id': '7490', 'nachname': 'Reichinnek', 'vorn...
4     {'id': '7457', 'nachname': 'Naujok', 'vorname'...
                            ...
37    {'id': '1933', 'nachname': 'Behrendt', 'vornam...
38    {'id': '1984', 'nachname': 'Maas', 'vorname': ...
39    {'id': '1741', 'nachname': 'Maas', 'vorname': ...
40    {'id': '7503', 'nachname': 'Luft', 'vorname': ...
41    {'id': '7032', 'nachname': 'Kerber', 'vorname'...
Name: documents, Length: 1042, dtype: object>

In [28]:
type(documents)

pandas.core.series.Series

In [29]:
# getting all the data for certain keys using comprehension
nachname = [i["nachname"] for i in documents]
vorname = [i["vorname"] for i in documents]
wahlperiode = [i["wahlperiode"] for i in documents] 
titel = [i["titel"] for i in documents]
basisdatum = [i["basisdatum"] for i in documents]

## New df
- a new df needs to be created, trying to get more info on party and mebership from "Documents"
- - doing this on a copy

In [32]:
dict_new_df_1 = dict_new_df.copy()

In [33]:
type(dict_new_df_1)

dict

In [34]:
# documents_2 = dict_new_df_1.get("documents")

In [35]:
# Extracting "person_roles"
p_roles_list = []

for doc in documents:
    # checking if person_role is existent in key (solution by ChatGPT, I was stuck with the error "'person_roles' not known"
    if 'person_roles' in doc:
        for role in doc['person_roles']:
            row = {
                "nachname": doc['nachname'],
                'vorname': doc['vorname'],
                'fraktion': role.get('fraktion', 'N/A'),  # using get in case key doesn't exist
                'funktion': role.get('funktion', 'N/A'),
                'wahlperiode_nummer': role.get('wahlperiode_nummer', [])
            }
            p_roles_list.append(row)

df_w_person_roles = pd.DataFrame(p_roles_list)

df_w_person_roles

      nachname  vorname      fraktion    funktion    wahlperiode_nummer
0          Pau    Petra     DIE LINKE         MdB  [16, 17, 18, 19, 20]
1          Pau    Petra  fraktionslos         MdB              [15, 20]
2          Pau    Petra           PDS         MdB                  [14]
3    Benkstein  Barbara           AfD         MdB                  [20]
4       Bünger    Clara  fraktionslos         MdB                  [20]
..         ...      ...           ...         ...                   ...
490       Maas    Heiko           N/A  Bundesmin.                  [18]
491       Maas    Heiko           N/A        MdBR                  [17]
492       Maas    Heiko           N/A  Bundesmin.              [19, 20]
493       Maas    Heiko           SPD         MdB                  [19]
494       Maas    Heiko           N/A        MdBR                  [17]

[495 rows x 5 columns]

In [36]:
# 1. keep only rows with "20" in "wahlperiode_nummer"
df_w_person_roles = df_w_person_roles[df_w_person_roles["wahlperiode_nummer"].apply(lambda x: 20 in x)]

df_w_person_roles

       nachname  vorname      fraktion     funktion    wahlperiode_nummer
0           Pau    Petra     DIE LINKE          MdB  [16, 17, 18, 19, 20]
1           Pau    Petra  fraktionslos          MdB              [15, 20]
3     Benkstein  Barbara           AfD          MdB                  [20]
4        Bünger    Clara  fraktionslos          MdB                  [20]
5    Reichinnek    Heidi  fraktionslos          MdB                  [20]
..          ...      ...           ...          ...                   ...
465     Richter   Markus           N/A  Staatssekr.              [19, 20]
476     Seifert  Juliane           N/A  Staatssekr.                  [20]
477   Teichmann   Helmut           N/A  Staatssekr.              [19, 20]
489        Maas    Heiko           N/A   Bundesmin.              [19, 20]
492        Maas    Heiko           N/A   Bundesmin.              [19, 20]

[197 rows x 5 columns]

In [37]:
# 2. keep only rows with "MdB" in "funktion"
df_w_person_roles_1 = df_w_person_roles[df_w_person_roles["funktion"] == "MdB"]

df_w_person_roles_1

,nachname,vorname,fraktion,funktion,wahlperiode_nummer
0,Pau,Petra,DIE LINKE,MdB,"[16, 17, 18, 19, 20]"
1,Pau,Petra,fraktionslos,MdB,"[15, 20]"
3,Benkstein,Barbara,AfD,MdB,[20]
4,Bünger,Clara,fraktionslos,MdB,[20]
5,Reichinnek,Heidi,fraktionslos,MdB,[20]
...,...,...,...,...,...
389,Hunko,Andrej,DIE LINKE,MdB,"[17, 18, 19, 20]"
390,Al-Dailami,Ali,DIE LINKE,MdB,[20]
432,Schäuble,Wolfgang,CDU/CSU,MdB,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ..."
440,Kipping,Katja,DIE LINKE,MdB,"[16, 17, 18, 19, 20]"
452,Sattelberger,Thomas,FDP,MdB,"[19, 20]"

In [38]:
df_w_person_roles_1.insert(0, "Name", "")
df_w_person_roles_1["Name"] = df_w_person_roles_1["nachname"] + ", " + df_w_person_roles_1["vorname"]

In [39]:
df_w_person_roles_1

,Name,nachname,vorname,fraktion,funktion,wahlperiode_nummer
0,"Pau, Petra",Pau,Petra,DIE LINKE,MdB,"[16, 17, 18, 19, 20]"
1,"Pau, Petra",Pau,Petra,fraktionslos,MdB,"[15, 20]"
3,"Benkstein, Barbara",Benkstein,Barbara,AfD,MdB,[20]
4,"Bünger, Clara",Bünger,Clara,fraktionslos,MdB,[20]
5,"Reichinnek, Heidi",Reichinnek,Heidi,fraktionslos,MdB,[20]
...,...,...,...,...,...,...
389,"Hunko, Andrej",Hunko,Andrej,DIE LINKE,MdB,"[17, 18, 19, 20]"
390,"Al-Dailami, Ali",Al-Dailami,Ali,DIE LINKE,MdB,[20]
432,"Schäuble, Wolfgang",Schäuble,Wolfgang,CDU/CSU,MdB,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ..."
440,"Kipping, Katja",Kipping,Katja,DIE LINKE,MdB,"[16, 17, 18, 19, 20]"
452,"Sattelberger, Thomas",Sattelberger,Thomas,FDP,MdB,"[19, 20]"

In [40]:
df_w_person_roles_1.Name.nunique()

92

In [41]:
# dropping all rows which contain "Die Linke", this might solve the problem already
df_w_person_roles_1 = df_w_person_roles_1[df_w_person_roles_1["fraktion"] != "DIE LINKE"]

df_w_person_roles_1

,Name,nachname,vorname,fraktion,funktion,wahlperiode_nummer
1,"Pau, Petra",Pau,Petra,fraktionslos,MdB,"[15, 20]"
3,"Benkstein, Barbara",Benkstein,Barbara,AfD,MdB,[20]
4,"Bünger, Clara",Bünger,Clara,fraktionslos,MdB,[20]
5,"Reichinnek, Heidi",Reichinnek,Heidi,fraktionslos,MdB,[20]
6,"Latendorf, Ina",Latendorf,Ina,fraktionslos,MdB,[20]
...,...,...,...,...,...,...
364,"Hagedorn, Bettina",Hagedorn,Bettina,SPD,MdB,"[15, 16, 17, 18, 19, 20]"
366,"Meiser, Pascal",Meiser,Pascal,fraktionslos,MdB,[20]
367,"Kühn, Christian",Kühn,Christian,BÜNDNIS 90/DIE GRÜNEN,MdB,"[18, 19, 20]"
432,"Schäuble, Wolfgang",Schäuble,Wolfgang,CDU/CSU,MdB,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ..."
452,"Sattelberger, Thomas",Sattelberger,Thomas,FDP,MdB,"[19, 20]"

In [42]:
df_w_person_roles_1.Name.nunique()

77

In [43]:
df_w_person_roles_1.Name.duplicated

<bound method Series.duplicated of 1                Pau, Petra
3        Benkstein, Barbara
4             Bünger, Clara
5         Reichinnek, Heidi
6            Latendorf, Ina
               ...
364       Hagedorn, Bettina
366          Meiser, Pascal
367         Kühn, Christian
432      Schäuble, Wolfgang
452    Sattelberger, Thomas
Name: Name, Length: 96, dtype: object>

In [44]:
df_w_person_roles_1_by_name = df_w_person_roles_1.sort_values("Name")

In [45]:
df_w_person_roles_1_by_name.tail(50)

,Name,nachname,vorname,fraktion,funktion,wahlperiode_nummer
41,"Luksic, Oliver",Luksic,Oliver,FDP,MdB,"[17, 19, 20]"
269,"Mansoori, Kaweh",Mansoori,Kaweh,SPD,MdB,[20]
280,"Mansoori, Kaweh",Mansoori,Kaweh,SPD,MdB,[20]
60,"Mayer, Zoe",Mayer,Zoe,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
366,"Meiser, Pascal",Meiser,Pascal,fraktionslos,MdB,[20]
28,"Mohamed Ali, Amira",Mohamed Ali,Amira,fraktionslos,MdB,[20]
15,"Möhring, Cornelia",Möhring,Cornelia,fraktionslos,MdB,[20]
68,"Möller, Siemtje",Möller,Siemtje,SPD,MdB,"[19, 20]"
38,"Müller, Claudia",Müller,Claudia,BÜNDNIS 90/DIE GRÜNEN,MdB,"[19, 20]"
26,"Nastic, Zaklin",Nastic,Zaklin,fraktionslos,MdB,[20]
69,"Nick, Ophelia",Nick,Ophelia,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
1,"Pau, Petra",Pau,Petra,fraktionslos,MdB,"[15, 20]"
117,"Paus, Lisa",Paus,Lisa,BÜNDNIS 90/DIE GRÜNEN,MdB,"[17, 18, 19, 20]"
128,"Paus, Lisa",Paus,Lisa,BÜNDNIS 90/DIE GRÜNEN,MdB,"[17, 18, 19, 20]"
148,"Paus, Lisa",Paus,Lisa,BÜNDNIS 90/DIE GRÜNEN,MdB,"[17, 18, 19, 20]"
10,"Pellmann, Sören",Pellmann,Sören,fraktionslos,MdB,[20]
200,"Philippi, Andreas",Philippi,Andreas,SPD,MdB,[20]
19,"Pilsinger, Stephan",Pilsinger,Stephan,CDU/CSU,MdB,"[19, 20]"
5,"Reichinnek, Heidi",Reichinnek,Heidi,fraktionslos,MdB,[20]
13,"Renner, Martina",Renner,Martina,fraktionslos,MdB,[20]
233,"Rottmann, Manuela",Rottmann,Manuela,BÜNDNIS 90/DIE GRÜNEN,MdB,"[19, 20]"
266,"Rottmann, Manuela",Rottmann,Manuela,BÜNDNIS 90/DIE GRÜNEN,MdB,"[19, 20]"
452,"Sattelberger, Thomas",Sattelberger,Thomas,FDP,MdB,"[19, 20]"
55,"Scholz, Olaf",Scholz,Olaf,SPD,MdB,"[14, 15, 16, 17, 20]"
48,"Schulze, Svenja",Schulze,Svenja,SPD,MdB,[20]
188,"Schwarz, Armin",Schwarz,Armin,CDU/CSU,MdB,[20]
168,"Schwarz, Armin",Schwarz,Armin,CDU/CSU,MdB,[20]
432,"Schäuble, Wolfgang",Schäuble,Wolfgang,CDU/CSU,MdB,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ..."
20,"Seitz, Thomas",Seitz,Thomas,AfD,MdB,"[19, 20]"
298,"Sekmen, Melis",Sekmen,Melis,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
300,"Sekmen, Melis",Sekmen,Melis,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
14,"Sitte, Petra",Sitte,Petra,fraktionslos,MdB,[20]
51,"Stark-Watzinger, Bettina",Stark-Watzinger,Bettina,FDP,MdB,"[19, 20]"
80,"Stegner, Ralf",Stegner,Ralf,SPD,MdB,[20]
44,"Strasser, Benjamin",Strasser,Benjamin,FDP,MdB,"[19, 20]"
272,"Taher Saleh, Kassem",Taher Saleh,Kassem,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
283,"Taher Saleh, Kassem",Taher Saleh,Kassem,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
186,"Theurer, Michael",Theurer,Michael,FDP,MdB,"[19, 20]"
166,"Theurer, Michael",Theurer,Michael,FDP,MdB,"[19, 20]"
16,"Vogler, Kathrin",Vogler,Kathrin,fraktionslos,MdB,[20]
23,"Wagenknecht, Sahra",Wagenknecht,Sahra,fraktionslos,MdB,[20]
279,"Weiss, Sabine",Weiss,Sabine,CDU/CSU,MdB,"[17, 18, 19, 20]"
290,"Weiss, Sabine",Weiss,Sabine,CDU/CSU,MdB,"[17, 18, 19, 20]"
110,"Wenzel, Stefan",Wenzel,Stefan,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
121,"Wenzel, Stefan",Wenzel,Stefan,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
59,"Wissler, Janine",Wissler,Janine,fraktionslos,MdB,[20]
185,"Özdemir, Cem",Özdemir,Cem,BÜNDNIS 90/DIE GRÜNEN,MdB,"[13, 14, 18, 19, 20]"
165,"Özdemir, Cem",Özdemir,Cem,BÜNDNIS 90/DIE GRÜNEN,MdB,"[13, 14, 18, 19, 20]"
145,"Özdemir, Cem",Özdemir,Cem,BÜNDNIS 90/DIE GRÜNEN,MdB,"[13, 14, 18, 19, 20]"
46,"Özdemir, Mahmut",Özdemir,Mahmut,SPD,MdB,"[18, 19, 20]"

## remaining duplicates
- all remaining duplicates are real duplicates, on all levels and columns, so they will be dropped

In [47]:
unique_persons_final = df_w_person_roles_1.drop_duplicates(subset="Name")

In [48]:
unique_persons_final.shape

(77, 6)

In [49]:
unique_persons_final

,Name,nachname,vorname,fraktion,funktion,wahlperiode_nummer
1,"Pau, Petra",Pau,Petra,fraktionslos,MdB,"[15, 20]"
3,"Benkstein, Barbara",Benkstein,Barbara,AfD,MdB,[20]
4,"Bünger, Clara",Bünger,Clara,fraktionslos,MdB,[20]
5,"Reichinnek, Heidi",Reichinnek,Heidi,fraktionslos,MdB,[20]
6,"Latendorf, Ina",Latendorf,Ina,fraktionslos,MdB,[20]
...,...,...,...,...,...,...
364,"Hagedorn, Bettina",Hagedorn,Bettina,SPD,MdB,"[15, 16, 17, 18, 19, 20]"
366,"Meiser, Pascal",Meiser,Pascal,fraktionslos,MdB,[20]
367,"Kühn, Christian",Kühn,Christian,BÜNDNIS 90/DIE GRÜNEN,MdB,"[18, 19, 20]"
432,"Schäuble, Wolfgang",Schäuble,Wolfgang,CDU/CSU,MdB,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ..."
452,"Sattelberger, Thomas",Sattelberger,Thomas,FDP,MdB,"[19, 20]"

In [50]:
unique_persons_final.rename(columns= {"fraktion": "Partei", "funktion": "MdB", "wahlperiode_nummer": "Wahlperiode", "nachname": "Nachname", "vorname": "Vorname"}, inplace=True)

In [51]:
unique_persons_final["MdB"] = unique_persons_final["MdB"].str.contains(r'\bMdB\b', regex=True).map({True: "ja", False: "nein"})

In [52]:
unique_persons_final.loc[unique_persons_final["Partei"].str.contains("BÜNDNIS 90/DIE GRÜNEN", case=False, na=False), "Partei"] = "Die Grünen"
unique_persons_final.loc[unique_persons_final["Partei"].str.contains("DIE LINKE", case=False, na=False), "Partei"] = "Die Linke"

In [53]:
unique_persons_final.sample(20)

,Name,Nachname,Vorname,Partei,MdB,Wahlperiode
30,"Leye, Christian",Leye,Christian,fraktionslos,ja,[20]
26,"Nastic, Zaklin",Nastic,Zaklin,fraktionslos,ja,[20]
47,"Dittmar, Sabine",Dittmar,Sabine,SPD,ja,"[18, 19, 20]"
9,"Domscheit-Berg, Anke",Domscheit-Berg,Anke,fraktionslos,ja,[20]
145,"Özdemir, Cem",Özdemir,Cem,Die Grünen,ja,"[13, 14, 18, 19, 20]"
269,"Mansoori, Kaweh",Mansoori,Kaweh,SPD,ja,[20]
41,"Luksic, Oliver",Luksic,Oliver,FDP,ja,"[17, 19, 20]"
298,"Sekmen, Melis",Sekmen,Melis,Die Grünen,ja,[20]
55,"Scholz, Olaf",Scholz,Olaf,SPD,ja,"[14, 15, 16, 17, 20]"
68,"Möller, Siemtje",Möller,Siemtje,SPD,ja,"[19, 20]"
46,"Özdemir, Mahmut",Özdemir,Mahmut,SPD,ja,"[18, 19, 20]"
51,"Stark-Watzinger, Bettina",Stark-Watzinger,Bettina,FDP,ja,"[19, 20]"
45,"Keul, Katja",Keul,Katja,Die Grünen,ja,"[17, 18, 19, 20]"
19,"Pilsinger, Stephan",Pilsinger,Stephan,CDU/CSU,ja,"[19, 20]"
12,"Hahn, André",Hahn,André,fraktionslos,ja,[20]
32,"Hunko, Andrej",Hunko,Andrej,fraktionslos,ja,[20]
78,"Heil, Hubertus",Heil,Hubertus,SPD,ja,"[17, 18, 19, 20]"
40,"Brandenburg, Jens",Brandenburg,Jens,FDP,ja,"[19, 20]"
21,"Gesenhues, Jan-Niclas",Gesenhues,Jan-Niclas,Die Grünen,ja,[20]
4,"Bünger, Clara",Bünger,Clara,fraktionslos,ja,[20]

# end of creating second df,
# going back to creating first df

In [55]:
# converting the variable/ columns to a dataframe
df_nachname = pd.DataFrame(nachname)
df_vorname = pd.DataFrame(vorname)
df_wahlperiode = pd.DataFrame(wahlperiode)
df_titel = pd.DataFrame(titel)
df_basisdatum = pd.DataFrame(basisdatum)

In [56]:
# concatenating the dataframes and naming the columns
df_bt_short = pd.concat([df_nachname, df_vorname, df_wahlperiode, df_titel, df_basisdatum], axis=1)
df_bt_short.columns = ["Nachname", "Vorname", "Wahlperiode", "Titel", "Ersteinzug"]

In [57]:
df_bt_short.sample(20)

,Nachname,Vorname,Wahlperiode,Titel,Ersteinzug
958,Schmidt,Thomas,18,"Thomas Schmidt, Stellv. MdBR (Staatsminister f...",2016-03-18
649,Stamm-Fibich,Martina,18,"Martina Stamm-Fibich, MdB, SPD",2014-01-30
377,Feiler,Uwe,18,"Uwe Feiler, MdB, CDU/CSU",2014-02-12
576,Stübgen,Michael,12,"Michael Stübgen, MdBR (Minister des Innern und...",1991-02-26
647,Coße,Jürgen,18,"Jürgen Coße, MdB, SPD",2016-12-15
933,Tschentscher,Peter,17,"Dr. Peter Tschentscher, Bundesratspräs.",2012-02-10
490,Schwarz,Armin,20,"Armin Schwarz, Stellv. MdBR (Minister für Kult...",2022-02-11
234,Willkomm,Katharina,19,"Katharina Willkomm, MdB, FDP",2017-12-15
655,Echeverria,Axel,20,"Axel Echeverria, MdB, SPD",2022-03-03
57,Stark-Watzinger,Bettina,19,"Bettina Stark-Watzinger, Bundesmin., Bundesmin...",2017-12-08
641,Koß,Simona,20,"Simona Koß, MdB, SPD",2022-03-10
767,Rix,Sönke,16,"Sönke Rix, MdB, SPD",2006-03-09
537,Rüddel,Erwin,17,"Erwin Rüddel, MdB, CDU/CSU",2010-01-21
423,Rosenthal,Jessica,20,"Jessica Rosenthal, MdB, SPD",2021-11-18
503,Klinck,Kristian,20,"Dr. Kristian Klinck, MdB, SPD",2022-01-28
946,Janecek,Dieter,18,"Dieter Janecek, MdB, BÜNDNIS 90/DIE GRÜNEN",2013-11-27
173,Martens,Zanda,20,"Dr. Zanda Martens, MdB, SPD",2022-03-03
313,Daldrup,Bernhard,18,"Bernhard Daldrup, MdB, SPD",2014-02-12
621,Mackensen-Geis,Isabel,19,"Isabel Mackensen-Geis, MdB, SPD",2019-09-10
939,Grötsch,Uli,18,"Uli Grötsch, MdB, SPD",2014-01-16

## adding new columns
- adding column "MdB": if "Titel" contains string "MdB", new column "MdB" takes on value "ja", else "no"
- adding column "Partei": taking info from column "Titel" and filling "Partei" respectively

In [59]:
# creating a copy just in case
df_bt_short_1 = df_bt_short.copy()

In [60]:
df_bt_short_1.insert(2, "MdB", pd.NA)

In [61]:
# TO not INCLUDE "MdBR" but only "MdB"
df_bt_short_1["MdB"] = df_bt_short_1["Titel"].str.contains(r'\bMdB\b', regex=True).map({True: "ja", False: "nein"})

In [62]:
df_bt_short_1["MdB"].value_counts()

MdB
ja      693
nein    349
Name: count, dtype: int64

Comment: the German Bundestag currently has 733 members, so the 937 here cannot all be current members, I will have to check with Wahlperiode to find this out.

Also still need to check whether there is persons mentioned more than once

In [64]:
df_bt_short_1.insert(3, "Partei", pd.NA)

In [65]:
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("SPD", case=False, na=False), "Partei"] = "SPD"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("BÜNDNIS 90/DIE GRÜNEN", case=False, na=False), "Partei"] = "Die Grünen"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("FDP", case=False, na=False), "Partei"] = "FDP"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("AfD", case=False, na=False), "Partei"] = "AfD"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("DIE LINKE", case=False, na=False), "Partei"] = "Die Linke"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("CDU/CSU", case=False, na=False), "Partei"] = "CDU/CSU"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("BSW", case=False, na=False), "Partei"] = "BSW"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("fraktionslos", case=False, na=False), "Partei"] = "fraktionslos"

In [66]:
# adding column "Name" to find duplicates of the exact same first and surname
df_bt_short_1.insert(0, "Name", "")
df_bt_short_1["Name"] = df_bt_short_1["Nachname"] + ", " + df_bt_short_1["Vorname"]

In [67]:
df_bt_short_1["Name"].nunique()

649

In [68]:
df_bt_short_1[df_bt_short_1.duplicated(subset=["Name"], keep=False)]

,Name,Nachname,Vorname,MdB,Partei,Wahlperiode,Titel,Ersteinzug
2,"Bünger, Clara",Bünger,Clara,ja,Die Linke,20,"Clara Bünger, MdB, DIE LINKE",2022-01-14
3,"Reichinnek, Heidi",Reichinnek,Heidi,ja,Die Linke,20,"Heidi Reichinnek, MdB, DIE LINKE",2021-11-05
6,"Latendorf, Ina",Latendorf,Ina,ja,Die Linke,20,"Ina Latendorf, MdB, DIE LINKE",2021-11-09
8,"Hennig-Wellsow, Susanne",Hennig-Wellsow,Susanne,ja,Die Linke,20,"Susanne Hennig-Wellsow, MdB, DIE LINKE",2021-12-07
9,"Gürpinar, Ates",Gürpinar,Ates,ja,Die Linke,20,"Ates Gürpinar, MdB, DIE LINKE",2021-11-17
...,...,...,...,...,...,...,...,...
960,"Joachim, Olaf",Joachim,Olaf,nein,<NA>,19,"Dr. Olaf Joachim, MdBR (Staatsrat, Bevollmächt...",2020-03-13
965,"Kaniber, Michaela",Kaniber,Michaela,nein,<NA>,19,"Michaela Kaniber, Stellv. MdBR (Staatsminister...",2019-11-08
1017,"Schilling, Claudia",Schilling,Claudia,nein,<NA>,20,"Dr. Claudia Schilling, Stellv. MdBR (Senatorin...",2022-02-11
1038,"Maas, Heiko",Maas,Heiko,ja,SPD,17,"Heiko Maas, MdB, SPD",2012-06-15
1039,"Maas, Heiko",Maas,Heiko,nein,<NA>,17,"Heiko Maas, Bundesmin., Bundesministerium der ...",2012-06-15

In [69]:
### checking for rows that are unique in "Name" and also "yes" in "MdB" and store in variable
#### for this, all the name dulpicates will be dropped using a copy of the df

In [70]:
df_bt_short_2 = df_bt_short_1.copy()

In [71]:
name_unique = df_bt_short_2.drop_duplicates(subset=["Name"])

In [72]:
name_unique

,Name,Nachname,Vorname,MdB,Partei,Wahlperiode,Titel,Ersteinzug
0,"Pau, Petra",Pau,Petra,nein,<NA>,14,"Petra Pau, Bundestagsvizepräs.",1998-10-26
1,"Benkstein, Barbara",Benkstein,Barbara,ja,AfD,20,"Barbara Benkstein, MdB, AfD",2021-10-25
2,"Bünger, Clara",Bünger,Clara,ja,Die Linke,20,"Clara Bünger, MdB, DIE LINKE",2022-01-14
3,"Reichinnek, Heidi",Reichinnek,Heidi,ja,Die Linke,20,"Heidi Reichinnek, MdB, DIE LINKE",2021-11-05
4,"Naujok, Edgar",Naujok,Edgar,ja,AfD,20,"Edgar Naujok, MdB, AfD",2021-11-16
...,...,...,...,...,...,...,...,...
1036,"Pronold, Florian",Pronold,Florian,nein,<NA>,15,"Florian Pronold, Parl. Staatssekr., Bundesmini...",2002-11-15
1037,"Behrendt, Dirk",Behrendt,Dirk,nein,<NA>,18,"Dr. Dirk Behrendt, Stellv. MdBR (Senator für J...",2016-12-16
1038,"Maas, Heiko",Maas,Heiko,ja,SPD,17,"Heiko Maas, MdB, SPD",2012-06-15
1040,"Luft, Christian",Luft,Christian,nein,<NA>,20,"Christian Luft, Staatssekr., Bundesministerium...",2021-11-05
1041,"Kerber, Markus",Kerber,Markus,nein,<NA>,19,"Dr. Markus Kerber, Staatssekr., Bundesminister...",2018-04-13

In [73]:
name_unique.MdB.value_counts()

MdB
ja      398
nein    251
Name: count, dtype: int64

## Merging two dataframes:
- name_unique (original df) mit unique_persons_final (supplement df to validate and add information)
- first renaming a copy of each df to make it easier to refer to: name_unique = df_main; unique_persons_final = df_add

df_main has more info but df_add is considered superior. Therefore, a common index will be created (column "Name") which will be used to merge the two dfs. In case df_add has info on a person which is also present in df_main, the data from df_add should dominate and replace data in df_main.

In [75]:
# renaming dataframes
df_main = name_unique.copy()
df_add = unique_persons_final.copy()

In [76]:
df_main

,Name,Nachname,Vorname,MdB,Partei,Wahlperiode,Titel,Ersteinzug
0,"Pau, Petra",Pau,Petra,nein,<NA>,14,"Petra Pau, Bundestagsvizepräs.",1998-10-26
1,"Benkstein, Barbara",Benkstein,Barbara,ja,AfD,20,"Barbara Benkstein, MdB, AfD",2021-10-25
2,"Bünger, Clara",Bünger,Clara,ja,Die Linke,20,"Clara Bünger, MdB, DIE LINKE",2022-01-14
3,"Reichinnek, Heidi",Reichinnek,Heidi,ja,Die Linke,20,"Heidi Reichinnek, MdB, DIE LINKE",2021-11-05
4,"Naujok, Edgar",Naujok,Edgar,ja,AfD,20,"Edgar Naujok, MdB, AfD",2021-11-16
...,...,...,...,...,...,...,...,...
1036,"Pronold, Florian",Pronold,Florian,nein,<NA>,15,"Florian Pronold, Parl. Staatssekr., Bundesmini...",2002-11-15
1037,"Behrendt, Dirk",Behrendt,Dirk,nein,<NA>,18,"Dr. Dirk Behrendt, Stellv. MdBR (Senator für J...",2016-12-16
1038,"Maas, Heiko",Maas,Heiko,ja,SPD,17,"Heiko Maas, MdB, SPD",2012-06-15
1040,"Luft, Christian",Luft,Christian,nein,<NA>,20,"Christian Luft, Staatssekr., Bundesministerium...",2021-11-05
1041,"Kerber, Markus",Kerber,Markus,nein,<NA>,19,"Dr. Markus Kerber, Staatssekr., Bundesminister...",2018-04-13

In [77]:
df_add

,Name,Nachname,Vorname,Partei,MdB,Wahlperiode
1,"Pau, Petra",Pau,Petra,fraktionslos,ja,"[15, 20]"
3,"Benkstein, Barbara",Benkstein,Barbara,AfD,ja,[20]
4,"Bünger, Clara",Bünger,Clara,fraktionslos,ja,[20]
5,"Reichinnek, Heidi",Reichinnek,Heidi,fraktionslos,ja,[20]
6,"Latendorf, Ina",Latendorf,Ina,fraktionslos,ja,[20]
...,...,...,...,...,...,...
364,"Hagedorn, Bettina",Hagedorn,Bettina,SPD,ja,"[15, 16, 17, 18, 19, 20]"
366,"Meiser, Pascal",Meiser,Pascal,fraktionslos,ja,[20]
367,"Kühn, Christian",Kühn,Christian,Die Grünen,ja,"[18, 19, 20]"
432,"Schäuble, Wolfgang",Schäuble,Wolfgang,CDU/CSU,ja,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ..."
452,"Sattelberger, Thomas",Sattelberger,Thomas,FDP,ja,"[19, 20]"

In [78]:
# Setting the index of both dfs to "Name"
df_main.set_index("Name", inplace=True)
df_add.set_index("Name", inplace=True)

# updates df_main with df_add if index is the same
df_main.update(df_add)

# reset index
df_main.reset_index(inplace=True)

df_main

,Name,Nachname,Vorname,MdB,Partei,Wahlperiode,Titel,Ersteinzug
0,"Pau, Petra",Pau,Petra,ja,fraktionslos,"[15, 20]","Petra Pau, Bundestagsvizepräs.",1998-10-26
1,"Benkstein, Barbara",Benkstein,Barbara,ja,AfD,[20],"Barbara Benkstein, MdB, AfD",2021-10-25
2,"Bünger, Clara",Bünger,Clara,ja,fraktionslos,[20],"Clara Bünger, MdB, DIE LINKE",2022-01-14
3,"Reichinnek, Heidi",Reichinnek,Heidi,ja,fraktionslos,[20],"Heidi Reichinnek, MdB, DIE LINKE",2021-11-05
4,"Naujok, Edgar",Naujok,Edgar,ja,AfD,20,"Edgar Naujok, MdB, AfD",2021-11-16
...,...,...,...,...,...,...,...,...
644,"Pronold, Florian",Pronold,Florian,nein,<NA>,15,"Florian Pronold, Parl. Staatssekr., Bundesmini...",2002-11-15
645,"Behrendt, Dirk",Behrendt,Dirk,nein,<NA>,18,"Dr. Dirk Behrendt, Stellv. MdBR (Senator für J...",2016-12-16
646,"Maas, Heiko",Maas,Heiko,ja,SPD,17,"Heiko Maas, MdB, SPD",2012-06-15
647,"Luft, Christian",Luft,Christian,nein,<NA>,20,"Christian Luft, Staatssekr., Bundesministerium...",2021-11-05
648,"Kerber, Markus",Kerber,Markus,nein,<NA>,19,"Dr. Markus Kerber, Staatssekr., Bundesminister...",2018-04-13

In [79]:
df_main.MdB.value_counts()

MdB
ja      442
nein    207
Name: count, dtype: int64

### still problem with label "MdB":
the above number of 578 cannot be right because there are 733 members of parliament at the moment

### third dataframe:
therefore a third dataframe will be included in this analysis. The names of all the MdBs were extracted from the website of the German Bundestag using webscraping (see Jupyter Notebook "webscraping-bt-selenium").
The thus created Dataframe "df_names" will now be imported to this Notebook and combined with "df_main"

In [81]:
df_names.head(1)

          Name  MdB Partei
0  Abdi, Sanae  MdB    SPD

## merging the new df ("df_names") with df_main
- all values of df_names should replace those in the corresponding columns in df_main ("Name" and "MdB"), the rest of the info should stay the same
- also, all values in "Names" which are in df_names but not in df_main should be added as rows to the df
- in the cleaning afterwards all rows without the value "MdB" in the column "MdB" should be erased to have only the "real" MdBs in the df; to achieve this columns "MdB_x" and "Partei_x" will be deleted because this info is from df_main and not updated

In [83]:
# first create a copy of both dfs to do the combining on
df_main2 = df_main.copy()
df_names2 = df_names.copy()

# Setting the index of both dfs to "Name"
df_main2.set_index("Name", inplace=True)
df_names2.set_index("Name", inplace=True)

# merges the dataframes, df_names should dominate, therefore "right" merge
df_main_new = pd.merge(df_main,df_names, on="Name", how="right")

# reset index
df_main_new.reset_index(inplace=True)

df_main_new.head()

,index,Name,Nachname,Vorname,MdB_x,Partei_x,Wahlperiode,Titel,Ersteinzug,MdB_y,Partei_y
0,0,"Abdi, Sanae",NaN,NaN,NaN,NaN,NaN,NaN,NaN,MdB,SPD
1,1,"Abel, Valentin",NaN,NaN,NaN,NaN,NaN,NaN,NaN,MdB,FDP
2,2,"Abraham, Knut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,MdB,CDU/CSU
3,3,"Adler, Katja",NaN,NaN,NaN,NaN,NaN,NaN,NaN,MdB,FDP
4,4,"Aeffner, Stephanie",Aeffner,Stephanie,ja,Die Grünen,20,"Stephanie Aeffner, MdB, BÜNDNIS 90/DIE GRÜNEN",2022-01-13,MdB,Bündnis 90/Die Grünen

## Cleaning the dataframe

In [85]:
# dropping now unnecessary columns
df_main_new = df_main_new.drop(["index", "Titel"], axis=1)

In [86]:
df_main_new = df_main_new.drop(["MdB_x", "Partei_x"], axis=1)

In [87]:
df_main_new.rename(columns={"MdB_y": "MdB", "Partei_y": "Partei"}, inplace=True)

In [88]:
df_main_new

,Name,Nachname,Vorname,Wahlperiode,Ersteinzug,MdB,Partei
0,"Abdi, Sanae",NaN,NaN,NaN,NaN,MdB,SPD
1,"Abel, Valentin",NaN,NaN,NaN,NaN,MdB,FDP
2,"Abraham, Knut",NaN,NaN,NaN,NaN,MdB,CDU/CSU
3,"Adler, Katja",NaN,NaN,NaN,NaN,MdB,FDP
4,"Aeffner, Stephanie",Aeffner,Stephanie,20,2022-01-13,MdB,Bündnis 90/Die Grünen
...,...,...,...,...,...,...,...
763,"Zierke, Stefan",Zierke,Stefan,18,2013-11-22,MdB,SPD
764,"Zimmermann, Dr. Jens",NaN,NaN,NaN,NaN,MdB,SPD
765,"Zippelius, Nicolas",Zippelius,Nicolas,20,2021-12-10,MdB,CDU/CSU
766,"Zorn, Armand",NaN,NaN,NaN,NaN,MdB,SPD
767,"Zschau, Katrin",Zschau,Katrin,20,2022-01-13,MdB,SPD

In [89]:
df_main_new.isna().sum()

Name             0
Nachname       419
Vorname        419
Wahlperiode    419
Ersteinzug     419
MdB              0
Partei           0
dtype: int64

In [90]:
# dropping more columns which are not needed for the EDA
df_main_new = df_main_new.drop(["Wahlperiode", "MdB"], axis=1)

### Problem of the NaNs
- Because of the combining of the dfs, there are now lots of NaNs
- Nachname und Vorname should be solvable through splitting Name into those parts (",")
- "Ersteinzug" is lost though for now, the analysis can only be done on the existing values

### filling Nachname and Vorname

In [93]:
# Setze die Nachnamen und Vornamen in den entsprechenden Spalten, wo sie leer sind
df_main_new[['Nachname', 'Vorname']] = df_main_new['Name'].str.split(', ', expand=True)

df_main_new

,Name,Nachname,Vorname,Ersteinzug,Partei
0,"Abdi, Sanae",Abdi,Sanae,NaN,SPD
1,"Abel, Valentin",Abel,Valentin,NaN,FDP
2,"Abraham, Knut",Abraham,Knut,NaN,CDU/CSU
3,"Adler, Katja",Adler,Katja,NaN,FDP
4,"Aeffner, Stephanie",Aeffner,Stephanie,2022-01-13,Bündnis 90/Die Grünen
...,...,...,...,...,...
763,"Zierke, Stefan",Zierke,Stefan,2013-11-22,SPD
764,"Zimmermann, Dr. Jens",Zimmermann,Dr. Jens,NaN,SPD
765,"Zippelius, Nicolas",Zippelius,Nicolas,2021-12-10,CDU/CSU
766,"Zorn, Armand",Zorn,Armand,NaN,SPD
767,"Zschau, Katrin",Zschau,Katrin,2022-01-13,SPD

In [94]:
# dropping "Name", not needed for the EDA because content now stored in "Nachname" and "Vorname"
df_main_new = df_main_new.drop(["Name"], axis=1)

### Extracting academical grade from "Vorname"

In [96]:
# Extracting grade from "Vorname" and adding to new column "Akadem. Grad"
df_main_new['Akadem. Grad'] = df_main_new['Vorname'].str.extract(r'^(Dr\.|Prof\.)')

# Erasing academical grade from "Vorname"
df_main_new['Vorname'] = df_main_new['Vorname'].str.replace(r'^(Dr\.|Prof\.)\s*', '', regex=True)

df_main_new

       Nachname    Vorname  Ersteinzug                 Partei Akadem. Grad
0          Abdi      Sanae         NaN                    SPD          NaN
1          Abel   Valentin         NaN                    FDP          NaN
2       Abraham       Knut         NaN                CDU/CSU          NaN
3         Adler      Katja         NaN                    FDP          NaN
4       Aeffner  Stephanie  2022-01-13  Bündnis 90/Die Grünen          NaN
..          ...        ...         ...                    ...          ...
763      Zierke     Stefan  2013-11-22                    SPD          NaN
764  Zimmermann       Jens         NaN                    SPD          Dr.
765   Zippelius    Nicolas  2021-12-10                CDU/CSU          NaN
766        Zorn     Armand         NaN                    SPD          NaN
767      Zschau     Katrin  2022-01-13                    SPD          NaN

[768 rows x 5 columns]

In [97]:
df_main_new.shape

(768, 5)

In [98]:
df_main_new.isna().sum()

Nachname          0
Vorname           0
Ersteinzug      419
Partei            0
Akadem. Grad    637
dtype: int64

In [99]:
df_main_new.Partei.value_counts()

Partei
SPD                         207
CDU/CSU                     196
Bündnis 90/Die Grünen       117
FDP                          91
AfD                          77
Gruppe Die Linke             28
Gruppe BSW                   10
SPD  *                        9
FDP  *                        7
fraktionslos                  7
CDU/CSU  *                    7
Bündnis 90/Die Grünen  *      4
AfD  *                        2
CDU/CSU  **                   2
SPD  **                       1
Die Linke  *                  1
Gruppe Die Linke  *           1
AfD  **                       1
Name: count, dtype: int64

In [100]:
# sorting categories in "Partei"

# erasing all "*"
df_main_new['Partei'] = df_main_new['Partei'].str.replace('*', '', regex=False)

# synchronizing value categories
df_main_new.loc[df_main_new["Partei"].str.contains("SPD", case=False), "Partei"] = "SPD"
df_main_new.loc[df_main_new["Partei"].str.contains("CDU/CSU", case=False), "Partei"] = "CDU/CSU"
df_main_new.loc[df_main_new["Partei"].str.contains("BÜNDNIS 90/DIE GRÜNEN", case=False), "Partei"] = "Die Grünen"
df_main_new.loc[df_main_new["Partei"].str.contains("FDP", case=False), "Partei"] = "FDP"
df_main_new.loc[df_main_new["Partei"].str.contains("AfD", case=False), "Partei"] = "AfD"
df_main_new.loc[df_main_new["Partei"].str.contains("Gruppe Die Linke", case=False), "Partei"] = "Gruppe Die Linke"
df_main_new.loc[df_main_new["Partei"].str.contains("Gruppe BSW", case=False), "Partei"] = "Gruppe BSW"
df_main_new.loc[df_main_new["Partei"].str.contains("Die Linke", case=False), "Partei"] = "Gruppe Die Linke"
df_main_new.loc[df_main_new["Partei"].str.contains("fraktionslos", case=False), "Partei"] = "fraktionslos"

In [101]:
df_main_new.Partei.value_counts()

Partei
SPD                 217
CDU/CSU             205
Die Grünen          121
FDP                  98
AfD                  80
Gruppe Die Linke     30
Gruppe BSW           10
fraktionslos          7
Name: count, dtype: int64

In [102]:
df_main_new.Partei.nunique()

8

### Cleaning dates ("Ersteinzug")
- only keeping the year, day and month are of no value for analysis

In [104]:
df_main_new['Ersteinzug'] = df_main_new['Ersteinzug'].str.split('-').str[0]

df_main_new['Ersteinzug']

0       NaN
1       NaN
2       NaN
3       NaN
4      2022
       ...
763    2013
764     NaN
765    2021
766     NaN
767    2022
Name: Ersteinzug, Length: 768, dtype: object

In [105]:
# create copy of cleaned dataframe

df_bt = df_main_new.copy()

In [196]:
df_bt

       Nachname    Vorname Ersteinzug      Partei Akadem. Grad
0          Abdi      Sanae        NaN         SPD          NaN
1          Abel   Valentin        NaN         FDP          NaN
2       Abraham       Knut        NaN     CDU/CSU          NaN
3         Adler      Katja        NaN         FDP          NaN
4       Aeffner  Stephanie       2022  Die Grünen          NaN
..          ...        ...        ...         ...          ...
763      Zierke     Stefan       2013         SPD          NaN
764  Zimmermann       Jens        NaN         SPD          Dr.
765   Zippelius    Nicolas       2021     CDU/CSU          NaN
766        Zorn     Armand        NaN         SPD          NaN
767      Zschau     Katrin       2022         SPD          NaN

[768 rows x 5 columns]

In [106]:
# df_bt export as csv

df_bt.to_csv("df_bt.csv", index=False) # saving data as csv, no new index

In [210]:
df_bt.Ersteinzug.isna().sum()

419