In [2]:
# Importing libraries

import requests

import pandas as pd

from dotenv import load_dotenv

import os

In [3]:
# ⚙️ Settings
pd.set_option('display.max_columns', None) # display all columns
import warnings
warnings.filterwarnings('ignore') # ignore warnings

In [4]:
# import dataframe with names of the members of parliament which was extracted from the website of the German Bundestag by Webscraping

df_names = pd.read_csv("df_namen.csv")

## Creating .env file with API key from the German Bundestag

In [6]:
print(os.path.isfile(".env"))

True

In [7]:
load_dotenv()

True

In [8]:
key_BT = os.getenv("API_KEY")

## Extracting data from the German Bundestag using their API

In [10]:
new_url_1 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response1 = requests.get(new_url_1)

new_data1 = new_response1.json()

In [11]:
new_response1.status_code

200

In [12]:
new_url_2 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJwkJq-q5IDK1BlcnNvbi0yMDg0&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response2 = requests.get(new_url_2)

new_data2 = new_response2.json()

In [13]:
new_url_3 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJw0Im7mZIDK1BlcnNvbi0xMDQz&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response3 = requests.get(new_url_3)

new_data3 = new_response3.json()

In [14]:
new_url_4 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJwkL7xlpIDK1BlcnNvbi0yMjcy&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response4 = requests.get(new_url_4)

new_data4 = new_response4.json()

In [15]:
new_url_5 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJwkKfekZIDK1BlcnNvbi0yMjA4&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response5 = requests.get(new_url_5)

new_data5 = new_response5.json()

In [16]:
new_url_6 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJwkJ3r8pEDK1BlcnNvbi0xNDk0&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response6 = requests.get(new_url_6)

new_data6 = new_response6.json()

In [17]:
new_url_7 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJw0MOVwZADK1BlcnNvbi03NjYx&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response7 = requests.get(new_url_7)

new_data7 = new_response7.json()

In [18]:
new_url_8 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJw0OfIrJADK1BlcnNvbi03NzI1&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response8 = requests.get(new_url_8)

new_data8 = new_response8.json()

In [19]:
new_url_9 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJw0J72jI8DK1BlcnNvbi03NDcw&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response9 = requests.get(new_url_9)

new_data9 = new_response9.json()

In [20]:
new_url_10 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJw-MLItowDK1BlcnNvbi03Njc3&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response10 = requests.get(new_url_10)

new_data10 = new_response10.json()

In [21]:
new_url_11 = "https://search.dip.bundestag.de/api/v1/person?f.wahlperiode=20&cursor=AoJwkJy68IADK1BlcnNvbi03NTg5&format=json&apikey=I9FKdCn.hbfefNWCY336dL6x62vfwNKpoN2RZ1gp21"

new_response11 = requests.get(new_url_11)

new_data11 = new_response11.json()

In [22]:
# coverting each dictionary into a dataframe
new_df1 = pd.DataFrame(new_data1)
new_df2 = pd.DataFrame(new_data2)
new_df3 = pd.DataFrame(new_data3)
new_df4 = pd.DataFrame(new_data4)
new_df5 = pd.DataFrame(new_data5)
new_df6 = pd.DataFrame(new_data6)
new_df7 = pd.DataFrame(new_data7)
new_df8 = pd.DataFrame(new_data8)
new_df9 = pd.DataFrame(new_data9)
new_df10 = pd.DataFrame(new_data10)
new_df11 = pd.DataFrame(new_data11)

In [23]:
#concatenating the dataframes
new_df = pd.concat([new_df1,new_df2,new_df3,new_df4,new_df5,new_df6,new_df7,new_df8,new_df9,new_df10,new_df11], axis=0)

new_df

,numFound,documents,cursor
0,1053,"{'id': '847', 'nachname': 'Pau', 'vorname': 'P...",AoJwkKSxypIDK1BlcnNvbi03NDM3
1,1053,"{'id': '7786', 'nachname': 'Grünke', 'vorname'...",AoJwkKSxypIDK1BlcnNvbi03NDM3
2,1053,"{'id': '7744', 'nachname': 'Wagenknecht', 'vor...",AoJwkKSxypIDK1BlcnNvbi03NDM3
3,1053,"{'id': '7743', 'nachname': 'Ulrich', 'vorname'...",AoJwkKSxypIDK1BlcnNvbi03NDM3
4,1053,"{'id': '7742', 'nachname': 'Tatti', 'vorname':...",AoJwkKSxypIDK1BlcnNvbi03NDM3
...,...,...,...
37,1053,"{'id': '1933', 'nachname': 'Behrendt', 'vornam...",AoJw-Kvw9_wCK1BlcnNvbi03MDMy
38,1053,"{'id': '1984', 'nachname': 'Maas', 'vorname': ...",AoJw-Kvw9_wCK1BlcnNvbi03MDMy
39,1053,"{'id': '1741', 'nachname': 'Maas', 'vorname': ...",AoJw-Kvw9_wCK1BlcnNvbi03MDMy
40,1053,"{'id': '7503', 'nachname': 'Luft', 'vorname': ...",AoJw-Kvw9_wCK1BlcnNvbi03MDMy
41,1053,"{'id': '7032', 'nachname': 'Kerber', 'vorname'...",AoJw-Kvw9_wCK1BlcnNvbi03MDMy

In [24]:
new_df.shape

(1042, 3)

In [25]:
# converting the concatenated dataframe back to a dictionary to be able to extract data
dict_new_df = dict(new_df)

In [26]:
# extracting the key "documents" from the dictionary
documents = dict_new_df.get("documents")

In [27]:
documents.keys

<bound method Series.keys of 0     {'id': '847', 'nachname': 'Pau', 'vorname': 'P...
1     {'id': '7786', 'nachname': 'Grünke', 'vorname'...
2     {'id': '7744', 'nachname': 'Wagenknecht', 'vor...
3     {'id': '7743', 'nachname': 'Ulrich', 'vorname'...
4     {'id': '7742', 'nachname': 'Tatti', 'vorname':...
                            ...
37    {'id': '1933', 'nachname': 'Behrendt', 'vornam...
38    {'id': '1984', 'nachname': 'Maas', 'vorname': ...
39    {'id': '1741', 'nachname': 'Maas', 'vorname': ...
40    {'id': '7503', 'nachname': 'Luft', 'vorname': ...
41    {'id': '7032', 'nachname': 'Kerber', 'vorname'...
Name: documents, Length: 1042, dtype: object>

In [28]:
type(documents)

pandas.core.series.Series

In [29]:
# getting all the data for certain keys using comprehension
nachname = [i["nachname"] for i in documents]
vorname = [i["vorname"] for i in documents]
wahlperiode = [i["wahlperiode"] for i in documents] 
titel = [i["titel"] for i in documents]
basisdatum = [i["basisdatum"] for i in documents]

## New df
- a new df needs to be created, trying to get more info on party and mebership from "Documents"
- - doing this on a copy

In [31]:
dict_new_df_1 = dict_new_df.copy()

In [32]:
type(dict_new_df_1)

dict

In [33]:
# documents_2 = dict_new_df_1.get("documents")

In [34]:
# Extracting "person_roles"
p_roles_list = []

for doc in documents:
    # checking if person_role is existent in key (solution by ChatGPT, I was stuck with the error "'person_roles' not known"
    if 'person_roles' in doc:
        for role in doc['person_roles']:
            row = {
                "nachname": doc['nachname'],
                'vorname': doc['vorname'],
                'fraktion': role.get('fraktion', 'N/A'),  # using get in case key doesn't exist
                'funktion': role.get('funktion', 'N/A'),
                'wahlperiode_nummer': role.get('wahlperiode_nummer', [])
            }
            p_roles_list.append(row)

df_w_person_roles = pd.DataFrame(p_roles_list)

df_w_person_roles

        nachname vorname      fraktion    funktion    wahlperiode_nummer
0            Pau   Petra     DIE LINKE         MdB  [16, 17, 18, 19, 20]
1            Pau   Petra  fraktionslos         MdB              [15, 20]
2            Pau   Petra           PDS         MdB                  [14]
3    Wagenknecht   Sahra     DIE LINKE         MdB      [17, 18, 19, 20]
4    Wagenknecht   Sahra  fraktionslos         MdB                  [20]
..           ...     ...           ...         ...                   ...
500         Maas   Heiko           N/A  Bundesmin.                  [18]
501         Maas   Heiko           N/A        MdBR                  [17]
502         Maas   Heiko           N/A  Bundesmin.              [19, 20]
503         Maas   Heiko           SPD         MdB                  [19]
504         Maas   Heiko           N/A        MdBR                  [17]

[505 rows x 5 columns]

In [35]:
# 1. keep only rows with "20" in "wahlperiode_nummer"
df_w_person_roles = df_w_person_roles[df_w_person_roles["wahlperiode_nummer"].apply(lambda x: 20 in x)]

df_w_person_roles

        nachname    vorname      fraktion     funktion    wahlperiode_nummer
0            Pau      Petra     DIE LINKE          MdB  [16, 17, 18, 19, 20]
1            Pau      Petra  fraktionslos          MdB              [15, 20]
3    Wagenknecht      Sahra     DIE LINKE          MdB      [17, 18, 19, 20]
4    Wagenknecht      Sahra  fraktionslos          MdB                  [20]
6         Ulrich  Alexander     DIE LINKE          MdB  [16, 17, 18, 19, 20]
..           ...        ...           ...          ...                   ...
475      Richter     Markus           N/A  Staatssekr.              [19, 20]
486      Seifert    Juliane           N/A  Staatssekr.                  [20]
487    Teichmann     Helmut           N/A  Staatssekr.              [19, 20]
499         Maas      Heiko           N/A   Bundesmin.              [19, 20]
502         Maas      Heiko           N/A   Bundesmin.              [19, 20]

[207 rows x 5 columns]

In [36]:
# 2. keep only rows with "MdB" in "funktion"
df_w_person_roles_1 = df_w_person_roles[df_w_person_roles["funktion"] == "MdB"]

df_w_person_roles_1

,nachname,vorname,fraktion,funktion,wahlperiode_nummer
0,Pau,Petra,DIE LINKE,MdB,"[16, 17, 18, 19, 20]"
1,Pau,Petra,fraktionslos,MdB,"[15, 20]"
3,Wagenknecht,Sahra,DIE LINKE,MdB,"[17, 18, 19, 20]"
4,Wagenknecht,Sahra,fraktionslos,MdB,[20]
6,Ulrich,Alexander,DIE LINKE,MdB,"[16, 17, 18, 19, 20]"
...,...,...,...,...,...
399,Hunko,Andrej,DIE LINKE,MdB,"[17, 18, 19, 20]"
400,Al-Dailami,Ali,DIE LINKE,MdB,[20]
442,Schäuble,Wolfgang,CDU/CSU,MdB,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ..."
450,Kipping,Katja,DIE LINKE,MdB,"[16, 17, 18, 19, 20]"
462,Sattelberger,Thomas,FDP,MdB,"[19, 20]"

In [37]:
df_w_person_roles_1.insert(0, "Name", "")
df_w_person_roles_1["Name"] = df_w_person_roles_1["nachname"] + ", " + df_w_person_roles_1["vorname"]

In [38]:
df_w_person_roles_1

,Name,nachname,vorname,fraktion,funktion,wahlperiode_nummer
0,"Pau, Petra",Pau,Petra,DIE LINKE,MdB,"[16, 17, 18, 19, 20]"
1,"Pau, Petra",Pau,Petra,fraktionslos,MdB,"[15, 20]"
3,"Wagenknecht, Sahra",Wagenknecht,Sahra,DIE LINKE,MdB,"[17, 18, 19, 20]"
4,"Wagenknecht, Sahra",Wagenknecht,Sahra,fraktionslos,MdB,[20]
6,"Ulrich, Alexander",Ulrich,Alexander,DIE LINKE,MdB,"[16, 17, 18, 19, 20]"
...,...,...,...,...,...,...
399,"Hunko, Andrej",Hunko,Andrej,DIE LINKE,MdB,"[17, 18, 19, 20]"
400,"Al-Dailami, Ali",Al-Dailami,Ali,DIE LINKE,MdB,[20]
442,"Schäuble, Wolfgang",Schäuble,Wolfgang,CDU/CSU,MdB,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ..."
450,"Kipping, Katja",Kipping,Katja,DIE LINKE,MdB,"[16, 17, 18, 19, 20]"
462,"Sattelberger, Thomas",Sattelberger,Thomas,FDP,MdB,"[19, 20]"

In [39]:
df_w_person_roles_1.Name.nunique()

91

In [40]:
# dropping all rows which contain "Die Linke", this might solve the problem already
df_w_person_roles_1 = df_w_person_roles_1[df_w_person_roles_1["fraktion"] != "DIE LINKE"]

df_w_person_roles_1

,Name,nachname,vorname,fraktion,funktion,wahlperiode_nummer
1,"Pau, Petra",Pau,Petra,fraktionslos,MdB,"[15, 20]"
4,"Wagenknecht, Sahra",Wagenknecht,Sahra,fraktionslos,MdB,[20]
7,"Ulrich, Alexander",Ulrich,Alexander,fraktionslos,MdB,[20]
9,"Tatti, Jessica",Tatti,Jessica,fraktionslos,MdB,[20]
11,"Nastic, Zaklin",Nastic,Zaklin,fraktionslos,MdB,[20]
...,...,...,...,...,...,...
374,"Hagedorn, Bettina",Hagedorn,Bettina,SPD,MdB,"[15, 16, 17, 18, 19, 20]"
376,"Meiser, Pascal",Meiser,Pascal,fraktionslos,MdB,[20]
377,"Kühn, Christian",Kühn,Christian,BÜNDNIS 90/DIE GRÜNEN,MdB,"[18, 19, 20]"
442,"Schäuble, Wolfgang",Schäuble,Wolfgang,CDU/CSU,MdB,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ..."
462,"Sattelberger, Thomas",Sattelberger,Thomas,FDP,MdB,"[19, 20]"

In [41]:
df_w_person_roles_1.Name.nunique()

80

In [42]:
df_w_person_roles_1.Name.duplicated

<bound method Series.duplicated of 1                Pau, Petra
4        Wagenknecht, Sahra
7         Ulrich, Alexander
9            Tatti, Jessica
11           Nastic, Zaklin
               ...
374       Hagedorn, Bettina
376          Meiser, Pascal
377         Kühn, Christian
442      Schäuble, Wolfgang
462    Sattelberger, Thomas
Name: Name, Length: 101, dtype: object>

In [43]:
df_w_person_roles_1_by_name = df_w_person_roles_1.sort_values("Name")

In [44]:
df_w_person_roles_1_by_name.tail(50)

,Name,nachname,vorname,fraktion,funktion,wahlperiode_nummer
279,"Mansoori, Kaweh",Mansoori,Kaweh,SPD,MdB,[20]
376,"Meiser, Pascal",Meiser,Pascal,fraktionslos,MdB,[20]
13,"Mohamed Ali, Amira",Mohamed Ali,Amira,fraktionslos,MdB,[20]
34,"Möhring, Cornelia",Möhring,Cornelia,fraktionslos,MdB,[20]
78,"Möller, Siemtje",Möller,Siemtje,SPD,MdB,"[19, 20]"
45,"Müller, Claudia",Müller,Claudia,BÜNDNIS 90/DIE GRÜNEN,MdB,"[19, 20]"
11,"Nastic, Zaklin",Nastic,Zaklin,fraktionslos,MdB,[20]
1,"Pau, Petra",Pau,Petra,fraktionslos,MdB,"[15, 20]"
122,"Paus, Lisa",Paus,Lisa,BÜNDNIS 90/DIE GRÜNEN,MdB,"[17, 18, 19, 20]"
133,"Paus, Lisa",Paus,Lisa,BÜNDNIS 90/DIE GRÜNEN,MdB,"[17, 18, 19, 20]"
153,"Paus, Lisa",Paus,Lisa,BÜNDNIS 90/DIE GRÜNEN,MdB,"[17, 18, 19, 20]"
28,"Pellmann, Sören",Pellmann,Sören,fraktionslos,MdB,[20]
210,"Philippi, Andreas",Philippi,Andreas,SPD,MdB,[20]
185,"Philippi, Andreas",Philippi,Andreas,SPD,MdB,[20]
41,"Pilsinger, Stephan",Pilsinger,Stephan,CDU/CSU,MdB,"[19, 20]"
37,"Reichinnek, Heidi",Reichinnek,Heidi,fraktionslos,MdB,[20]
32,"Renner, Martina",Renner,Martina,fraktionslos,MdB,[20]
243,"Rottmann, Manuela",Rottmann,Manuela,BÜNDNIS 90/DIE GRÜNEN,MdB,"[19, 20]"
276,"Rottmann, Manuela",Rottmann,Manuela,BÜNDNIS 90/DIE GRÜNEN,MdB,"[19, 20]"
462,"Sattelberger, Thomas",Sattelberger,Thomas,FDP,MdB,"[19, 20]"
67,"Scholz, Olaf",Scholz,Olaf,SPD,MdB,"[14, 15, 16, 17, 20]"
60,"Schulze, Svenja",Schulze,Svenja,SPD,MdB,[20]
198,"Schwarz, Armin",Schwarz,Armin,CDU/CSU,MdB,[20]
173,"Schwarz, Armin",Schwarz,Armin,CDU/CSU,MdB,[20]
442,"Schäuble, Wolfgang",Schäuble,Wolfgang,CDU/CSU,MdB,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ..."
42,"Seitz, Thomas",Seitz,Thomas,AfD,MdB,"[19, 20]"
308,"Sekmen, Melis",Sekmen,Melis,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
310,"Sekmen, Melis",Sekmen,Melis,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
33,"Sitte, Petra",Sitte,Petra,fraktionslos,MdB,[20]
63,"Stark-Watzinger, Bettina",Stark-Watzinger,Bettina,FDP,MdB,"[19, 20]"
89,"Stegner, Ralf",Stegner,Ralf,SPD,MdB,[20]
53,"Strasser, Benjamin",Strasser,Benjamin,FDP,MdB,"[19, 20]"
293,"Taher Saleh, Kassem",Taher Saleh,Kassem,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
282,"Taher Saleh, Kassem",Taher Saleh,Kassem,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
9,"Tatti, Jessica",Tatti,Jessica,fraktionslos,MdB,[20]
171,"Theurer, Michael",Theurer,Michael,FDP,MdB,"[19, 20]"
196,"Theurer, Michael",Theurer,Michael,FDP,MdB,"[19, 20]"
56,"Toncar, Florian",Toncar,Florian,FDP,MdB,"[17, 19, 20]"
7,"Ulrich, Alexander",Ulrich,Alexander,fraktionslos,MdB,[20]
35,"Vogler, Kathrin",Vogler,Kathrin,fraktionslos,MdB,[20]
4,"Wagenknecht, Sahra",Wagenknecht,Sahra,fraktionslos,MdB,[20]
289,"Weiss, Sabine",Weiss,Sabine,CDU/CSU,MdB,"[17, 18, 19, 20]"
300,"Weiss, Sabine",Weiss,Sabine,CDU/CSU,MdB,"[17, 18, 19, 20]"
126,"Wenzel, Stefan",Wenzel,Stefan,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
115,"Wenzel, Stefan",Wenzel,Stefan,BÜNDNIS 90/DIE GRÜNEN,MdB,[20]
71,"Wissler, Janine",Wissler,Janine,fraktionslos,MdB,[20]
170,"Özdemir, Cem",Özdemir,Cem,BÜNDNIS 90/DIE GRÜNEN,MdB,"[13, 14, 18, 19, 20]"
150,"Özdemir, Cem",Özdemir,Cem,BÜNDNIS 90/DIE GRÜNEN,MdB,"[13, 14, 18, 19, 20]"
195,"Özdemir, Cem",Özdemir,Cem,BÜNDNIS 90/DIE GRÜNEN,MdB,"[13, 14, 18, 19, 20]"
55,"Özdemir, Mahmut",Özdemir,Mahmut,SPD,MdB,"[18, 19, 20]"

## remaining duplicates
- all remaining duplicates are real duplicates, on all levels and columns, so they will be dropped

In [46]:
unique_persons_final = df_w_person_roles_1.drop_duplicates(subset="Name")

In [47]:
unique_persons_final.shape

(80, 6)

In [48]:
unique_persons_final

,Name,nachname,vorname,fraktion,funktion,wahlperiode_nummer
1,"Pau, Petra",Pau,Petra,fraktionslos,MdB,"[15, 20]"
4,"Wagenknecht, Sahra",Wagenknecht,Sahra,fraktionslos,MdB,[20]
7,"Ulrich, Alexander",Ulrich,Alexander,fraktionslos,MdB,[20]
9,"Tatti, Jessica",Tatti,Jessica,fraktionslos,MdB,[20]
11,"Nastic, Zaklin",Nastic,Zaklin,fraktionslos,MdB,[20]
...,...,...,...,...,...,...
374,"Hagedorn, Bettina",Hagedorn,Bettina,SPD,MdB,"[15, 16, 17, 18, 19, 20]"
376,"Meiser, Pascal",Meiser,Pascal,fraktionslos,MdB,[20]
377,"Kühn, Christian",Kühn,Christian,BÜNDNIS 90/DIE GRÜNEN,MdB,"[18, 19, 20]"
442,"Schäuble, Wolfgang",Schäuble,Wolfgang,CDU/CSU,MdB,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ..."
462,"Sattelberger, Thomas",Sattelberger,Thomas,FDP,MdB,"[19, 20]"

In [49]:
unique_persons_final.rename(columns= {"fraktion": "Partei", "funktion": "MdB", "wahlperiode_nummer": "Wahlperiode", "nachname": "Nachname", "vorname": "Vorname"}, inplace=True)

In [50]:
unique_persons_final["MdB"] = unique_persons_final["MdB"].str.contains(r'\bMdB\b', regex=True).map({True: "ja", False: "nein"})

In [51]:
unique_persons_final.loc[unique_persons_final["Partei"].str.contains("BÜNDNIS 90/DIE GRÜNEN", case=False, na=False), "Partei"] = "Die Grünen"
unique_persons_final.loc[unique_persons_final["Partei"].str.contains("DIE LINKE", case=False, na=False), "Partei"] = "Die Linke"

In [52]:
unique_persons_final.sample(20)

,Name,Nachname,Vorname,Partei,MdB,Wahlperiode
60,"Schulze, Svenja",Schulze,Svenja,SPD,ja,[20]
243,"Rottmann, Manuela",Rottmann,Manuela,Die Grünen,ja,"[19, 20]"
77,"Kofler, Bärbel",Kofler,Bärbel,SPD,ja,"[15, 16, 17, 18, 19, 20]"
114,"Bury, Yannick",Bury,Yannick,CDU/CSU,ja,[20]
59,"Dittmar, Sabine",Dittmar,Sabine,SPD,ja,"[18, 19, 20]"
63,"Stark-Watzinger, Bettina",Stark-Watzinger,Bettina,FDP,ja,"[19, 20]"
462,"Sattelberger, Thomas",Sattelberger,Thomas,FDP,ja,"[19, 20]"
65,"Baerbock, Annalena",Baerbock,Annalena,Die Grünen,ja,"[18, 19, 20]"
24,"Benkstein, Barbara",Benkstein,Barbara,AfD,ja,[20]
174,"Gremmels, Timon",Gremmels,Timon,SPD,ja,"[19, 20]"
50,"Luksic, Oliver",Luksic,Oliver,FDP,ja,"[17, 19, 20]"
282,"Taher Saleh, Kassem",Taher Saleh,Kassem,Die Grünen,ja,[20]
27,"Domscheit-Berg, Anke",Domscheit-Berg,Anke,fraktionslos,ja,[20]
13,"Mohamed Ali, Amira",Mohamed Ali,Amira,fraktionslos,ja,[20]
115,"Wenzel, Stefan",Wenzel,Stefan,Die Grünen,ja,[20]
312,"Jung, Ingmar",Jung,Ingmar,CDU/CSU,ja,"[19, 20]"
21,"Dagdelen, Sevim",Dagdelen,Sevim,fraktionslos,ja,[20]
17,"Hunko, Andrej",Hunko,Andrej,fraktionslos,ja,[20]
39,"Gürpinar, Ates",Gürpinar,Ates,fraktionslos,ja,[20]
40,"Lenkert, Ralph",Lenkert,Ralph,fraktionslos,ja,[20]

# end of creating second df,
# going back to creating first df

In [54]:
# converting the variable/ columns to a dataframe
df_nachname = pd.DataFrame(nachname)
df_vorname = pd.DataFrame(vorname)
df_wahlperiode = pd.DataFrame(wahlperiode)
df_titel = pd.DataFrame(titel)
df_basisdatum = pd.DataFrame(basisdatum)

In [55]:
# concatenating the dataframes and naming the columns
df_bt_short = pd.concat([df_nachname, df_vorname, df_wahlperiode, df_titel, df_basisdatum], axis=1)
df_bt_short.columns = ["Nachname", "Vorname", "Wahlperiode", "Titel", "Ersteinzug"]

In [56]:
df_bt_short.sample(20)

,Nachname,Vorname,Wahlperiode,Titel,Ersteinzug
665,Schierenbeck,Peggy,20,"Peggy Schierenbeck, MdB, SPD",2022-01-14
992,Honé,Birgit,19,"Birgit Honé, MdBR (Ministerin für Bundes- und ...",2017-12-15
491,Pentz,Manfred,20,"Manfred Pentz, MdBR (Minister für Bundes- und ...",2024-02-02
555,Gemkow,Sebastian,18,"Sebastian Gemkow, Stellv. MdBR (Staatsminister...",2014-12-19
444,Berghahn,Jürgen,20,"Jürgen Berghahn, MdB, SPD",2022-03-03
829,Bünger,Clara,20,"Clara Bünger, MdB, fraktionslos",2022-01-14
645,Grütters,Monika,16,"Monika Grütters, MdB, CDU/CSU",2006-01-19
488,Lorz,R. Alexander,18,"Prof. Dr. R. Alexander Lorz, MdBR (Minister de...",2017-09-22
398,Lehmann,Sylvia,19,"Sylvia Lehmann, MdB, SPD",2020-03-04
218,Larem,Andreas,20,"Andreas Larem, MdB, SPD",2022-01-27
789,Hohmann,Angela,20,"Angela Hohmann, MdB, SPD",2024-03-22
69,Müller,Claudia,19,"Claudia Müller, Parl. Staatssekr., Bundesminis...",2017-11-24
12,Benkstein,Barbara,20,"Barbara Benkstein, MdB, AfD",2021-10-25
286,Mattfeldt,Andreas,17,"Andreas Mattfeldt, MdB, CDU/CSU",2010-01-21
498,Zieschang,Tamara,20,"Dr. Tamara Zieschang, Stellv. MdBR (Ministerin...",2023-03-03
862,Lindemann,Lars,17,"Lars Lindemann, MdB, FDP",2009-12-17
171,Martens,Zanda,20,"Dr. Zanda Martens, MdB, SPD",2022-03-03
358,Leiser,Kevin,20,"Kevin Leiser, MdB, SPD",2022-01-14
1009,Biesenbach,Peter,19,"Peter Biesenbach, Stellv. MdBR (Minister der J...",2018-03-02
1006,Brandes,Ina,20,"Ina Brandes, Stellv. MdBR (Ministerin für Verk...",2022-04-08

## adding new columns
- adding column "MdB": if "Titel" contains string "MdB", new column "MdB" takes on value "ja", else "no"
- adding column "Partei": taking info from column "Titel" and filling "Partei" respectively

In [58]:
# creating a copy just in case
df_bt_short_1 = df_bt_short.copy()

In [59]:
df_bt_short_1.insert(2, "MdB", pd.NA)

In [60]:
# TO not INCLUDE "MdBR" but only "MdB"
df_bt_short_1["MdB"] = df_bt_short_1["Titel"].str.contains(r'\bMdB\b', regex=True).map({True: "ja", False: "nein"})

In [61]:
df_bt_short_1["MdB"].value_counts()

MdB
ja      692
nein    350
Name: count, dtype: int64

Comment: the German Bundestag currently has 733 members, so the 937 here cannot all be current members, I will have to check with Wahlperiode to find this out.

Also still need to check whether there is persons mentioned more than once

In [63]:
df_bt_short_1.insert(3, "Partei", pd.NA)

In [64]:
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("SPD", case=False, na=False), "Partei"] = "SPD"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("BÜNDNIS 90/DIE GRÜNEN", case=False, na=False), "Partei"] = "Die Grünen"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("FDP", case=False, na=False), "Partei"] = "FDP"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("AfD", case=False, na=False), "Partei"] = "AfD"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("DIE LINKE", case=False, na=False), "Partei"] = "Die Linke"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("CDU/CSU", case=False, na=False), "Partei"] = "CDU/CSU"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("BSW", case=False, na=False), "Partei"] = "BSW"
df_bt_short_1.loc[df_bt_short_1["Titel"].str.contains("fraktionslos", case=False, na=False), "Partei"] = "fraktionslos"

In [65]:
# adding column "Name" to find duplicates of the exact same first and surname
df_bt_short_1.insert(0, "Name", "")
df_bt_short_1["Name"] = df_bt_short_1["Nachname"] + ", " + df_bt_short_1["Vorname"]

In [66]:
df_bt_short_1["Name"].nunique()

637

In [67]:
df_bt_short_1[df_bt_short_1.duplicated(subset=["Name"], keep=False)]

,Name,Nachname,Vorname,MdB,Partei,Wahlperiode,Titel,Ersteinzug
2,"Wagenknecht, Sahra",Wagenknecht,Sahra,ja,BSW,17,"Dr. Sahra Wagenknecht, MdB, BSW",2009-11-11
3,"Ulrich, Alexander",Ulrich,Alexander,ja,BSW,16,"Alexander Ulrich, MdB, BSW",2005-11-30
4,"Tatti, Jessica",Tatti,Jessica,ja,BSW,19,"Jessica Tatti, MdB, BSW",2017-12-07
5,"Nastic, Zaklin",Nastic,Zaklin,ja,BSW,19,"Zaklin Nastic, MdB, BSW",2017-11-14
6,"Mohamed Ali, Amira",Mohamed Ali,Amira,ja,BSW,19,"Amira Mohamed Ali, MdB, BSW",2017-11-30
...,...,...,...,...,...,...,...,...
960,"Joachim, Olaf",Joachim,Olaf,nein,<NA>,19,"Dr. Olaf Joachim, MdBR (Staatsrat, Bevollmächt...",2020-03-13
965,"Kaniber, Michaela",Kaniber,Michaela,nein,<NA>,19,"Michaela Kaniber, Stellv. MdBR (Staatsminister...",2019-11-08
1017,"Schilling, Claudia",Schilling,Claudia,nein,<NA>,20,"Dr. Claudia Schilling, Stellv. MdBR (Senatorin...",2022-02-11
1038,"Maas, Heiko",Maas,Heiko,ja,SPD,17,"Heiko Maas, MdB, SPD",2012-06-15
1039,"Maas, Heiko",Maas,Heiko,nein,<NA>,17,"Heiko Maas, Bundesmin., Bundesministerium der ...",2012-06-15

In [68]:
### checking for rows that are unique in "Name" and also "yes" in "MdB" and store in variable
#### for this, all the name dulpicates will be dropped using a copy of the df

In [69]:
df_bt_short_2 = df_bt_short_1.copy()

In [70]:
name_unique = df_bt_short_2.drop_duplicates(subset=["Name"])

In [71]:
name_unique

,Name,Nachname,Vorname,MdB,Partei,Wahlperiode,Titel,Ersteinzug
0,"Pau, Petra",Pau,Petra,nein,<NA>,14,"Petra Pau, Bundestagsvizepräs.",1998-10-26
1,"Grünke, Julian",Grünke,Julian,ja,FDP,20,"Julian Grünke, MdB, FDP",2024-09-12
2,"Wagenknecht, Sahra",Wagenknecht,Sahra,ja,BSW,17,"Dr. Sahra Wagenknecht, MdB, BSW",2009-11-11
3,"Ulrich, Alexander",Ulrich,Alexander,ja,BSW,16,"Alexander Ulrich, MdB, BSW",2005-11-30
4,"Tatti, Jessica",Tatti,Jessica,ja,BSW,19,"Jessica Tatti, MdB, BSW",2017-12-07
...,...,...,...,...,...,...,...,...
1036,"Pronold, Florian",Pronold,Florian,nein,<NA>,15,"Florian Pronold, Parl. Staatssekr., Bundesmini...",2002-11-15
1037,"Behrendt, Dirk",Behrendt,Dirk,nein,<NA>,18,"Dr. Dirk Behrendt, Stellv. MdBR (Senator für J...",2016-12-16
1038,"Maas, Heiko",Maas,Heiko,ja,SPD,17,"Heiko Maas, MdB, SPD",2012-06-15
1040,"Luft, Christian",Luft,Christian,nein,<NA>,20,"Christian Luft, Staatssekr., Bundesministerium...",2021-11-05
1041,"Kerber, Markus",Kerber,Markus,nein,<NA>,19,"Dr. Markus Kerber, Staatssekr., Bundesminister...",2018-04-13

In [72]:
name_unique.MdB.value_counts()

MdB
ja      387
nein    250
Name: count, dtype: int64

## Merging two dataframes:
- name_unique (original df) mit unique_persons_final (supplement df to validate and add information)
- first renaming a copy of each df to make it easier to refer to: name_unique = df_main; unique_persons_final = df_add

df_main has more info but df_add is considered superior. Therefore, a common index will be created (column "Name") which will be used to merge the two dfs. In case df_add has info on a person which is also present in df_main, the data from df_add should dominate and replace data in df_main.

In [74]:
# renaming dataframes
df_main = name_unique.copy()
df_add = unique_persons_final.copy()

In [75]:
df_main

,Name,Nachname,Vorname,MdB,Partei,Wahlperiode,Titel,Ersteinzug
0,"Pau, Petra",Pau,Petra,nein,<NA>,14,"Petra Pau, Bundestagsvizepräs.",1998-10-26
1,"Grünke, Julian",Grünke,Julian,ja,FDP,20,"Julian Grünke, MdB, FDP",2024-09-12
2,"Wagenknecht, Sahra",Wagenknecht,Sahra,ja,BSW,17,"Dr. Sahra Wagenknecht, MdB, BSW",2009-11-11
3,"Ulrich, Alexander",Ulrich,Alexander,ja,BSW,16,"Alexander Ulrich, MdB, BSW",2005-11-30
4,"Tatti, Jessica",Tatti,Jessica,ja,BSW,19,"Jessica Tatti, MdB, BSW",2017-12-07
...,...,...,...,...,...,...,...,...
1036,"Pronold, Florian",Pronold,Florian,nein,<NA>,15,"Florian Pronold, Parl. Staatssekr., Bundesmini...",2002-11-15
1037,"Behrendt, Dirk",Behrendt,Dirk,nein,<NA>,18,"Dr. Dirk Behrendt, Stellv. MdBR (Senator für J...",2016-12-16
1038,"Maas, Heiko",Maas,Heiko,ja,SPD,17,"Heiko Maas, MdB, SPD",2012-06-15
1040,"Luft, Christian",Luft,Christian,nein,<NA>,20,"Christian Luft, Staatssekr., Bundesministerium...",2021-11-05
1041,"Kerber, Markus",Kerber,Markus,nein,<NA>,19,"Dr. Markus Kerber, Staatssekr., Bundesminister...",2018-04-13

In [76]:
df_add

,Name,Nachname,Vorname,Partei,MdB,Wahlperiode
1,"Pau, Petra",Pau,Petra,fraktionslos,ja,"[15, 20]"
4,"Wagenknecht, Sahra",Wagenknecht,Sahra,fraktionslos,ja,[20]
7,"Ulrich, Alexander",Ulrich,Alexander,fraktionslos,ja,[20]
9,"Tatti, Jessica",Tatti,Jessica,fraktionslos,ja,[20]
11,"Nastic, Zaklin",Nastic,Zaklin,fraktionslos,ja,[20]
...,...,...,...,...,...,...
374,"Hagedorn, Bettina",Hagedorn,Bettina,SPD,ja,"[15, 16, 17, 18, 19, 20]"
376,"Meiser, Pascal",Meiser,Pascal,fraktionslos,ja,[20]
377,"Kühn, Christian",Kühn,Christian,Die Grünen,ja,"[18, 19, 20]"
442,"Schäuble, Wolfgang",Schäuble,Wolfgang,CDU/CSU,ja,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ..."
462,"Sattelberger, Thomas",Sattelberger,Thomas,FDP,ja,"[19, 20]"

In [77]:
# Setting the index of both dfs to "Name"
df_main.set_index("Name", inplace=True)
df_add.set_index("Name", inplace=True)

# updates df_main with df_add if index is the same
df_main.update(df_add)

# reset index
df_main.reset_index(inplace=True)

df_main

,Name,Nachname,Vorname,MdB,Partei,Wahlperiode,Titel,Ersteinzug
0,"Pau, Petra",Pau,Petra,ja,fraktionslos,"[15, 20]","Petra Pau, Bundestagsvizepräs.",1998-10-26
1,"Grünke, Julian",Grünke,Julian,ja,FDP,20,"Julian Grünke, MdB, FDP",2024-09-12
2,"Wagenknecht, Sahra",Wagenknecht,Sahra,ja,fraktionslos,[20],"Dr. Sahra Wagenknecht, MdB, BSW",2009-11-11
3,"Ulrich, Alexander",Ulrich,Alexander,ja,fraktionslos,[20],"Alexander Ulrich, MdB, BSW",2005-11-30
4,"Tatti, Jessica",Tatti,Jessica,ja,fraktionslos,[20],"Jessica Tatti, MdB, BSW",2017-12-07
...,...,...,...,...,...,...,...,...
632,"Pronold, Florian",Pronold,Florian,nein,<NA>,15,"Florian Pronold, Parl. Staatssekr., Bundesmini...",2002-11-15
633,"Behrendt, Dirk",Behrendt,Dirk,nein,<NA>,18,"Dr. Dirk Behrendt, Stellv. MdBR (Senator für J...",2016-12-16
634,"Maas, Heiko",Maas,Heiko,ja,SPD,17,"Heiko Maas, MdB, SPD",2012-06-15
635,"Luft, Christian",Luft,Christian,nein,<NA>,20,"Christian Luft, Staatssekr., Bundesministerium...",2021-11-05
636,"Kerber, Markus",Kerber,Markus,nein,<NA>,19,"Dr. Markus Kerber, Staatssekr., Bundesminister...",2018-04-13

In [78]:
df_main.MdB.value_counts()

MdB
ja      431
nein    206
Name: count, dtype: int64

### still problem with label "MdB":
the above number of 578 cannot be right because there are 733 members of parliament at the moment

### third dataframe:
therefore a third dataframe will be included in this analysis. The names of all the MdBs were extracted from the website of the German Bundestag using webscraping (see Jupyter Notebook "webscraping-bt-selenium").
The thus created Dataframe "df_names" will now be imported to this Notebook and combined with "df_main"

In [80]:
df_names.head(1)

          Name  MdB Partei
0  Abdi, Sanae  MdB    SPD

## merging the new df ("df_names") with df_main
- all values of df_names should replace those in the corresponding columns in df_main ("Name" and "MdB"), the rest of the info should stay the same
- also, all values in "Names" which are in df_names but not in df_main should be added as rows to the df
- in the cleaning afterwards all rows without the value "MdB" in the column "MdB" should be erased to have only the "real" MdBs in the df; to achieve this columns "MdB_x" and "Partei_x" will be deleted because this info is from df_main and not updated

In [82]:
# first create a copy of both dfs to do the combining on
df_main2 = df_main.copy()
df_names2 = df_names.copy()

# Setting the index of both dfs to "Name"
df_main2.set_index("Name", inplace=True)
df_names2.set_index("Name", inplace=True)

# merges the dataframes, df_names should dominate, therefore "right" merge
df_main_new = pd.merge(df_main,df_names, on="Name", how="right")

# reset index
df_main_new.reset_index(inplace=True)

df_main_new.head()

,index,Name,Nachname,Vorname,MdB_x,Partei_x,Wahlperiode,Titel,Ersteinzug,MdB_y,Partei_y
0,0,"Abdi, Sanae",NaN,NaN,NaN,NaN,NaN,NaN,NaN,MdB,SPD
1,1,"Abel, Valentin",NaN,NaN,NaN,NaN,NaN,NaN,NaN,MdB,FDP
2,2,"Abraham, Knut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,MdB,CDU/CSU
3,3,"Adler, Katja",NaN,NaN,NaN,NaN,NaN,NaN,NaN,MdB,FDP
4,4,"Aeffner, Stephanie",Aeffner,Stephanie,ja,Die Grünen,20,"Stephanie Aeffner, MdB, BÜNDNIS 90/DIE GRÜNEN",2022-01-13,MdB,Bündnis 90/Die Grünen

## Cleaning the dataframe

In [84]:
# dropping now unnecessary columns
df_main_new = df_main_new.drop(["index", "Titel"], axis=1)

In [85]:
df_main_new = df_main_new.drop(["MdB_x", "Partei_x"], axis=1)

In [86]:
df_main_new.rename(columns={"MdB_y": "MdB", "Partei_y": "Partei"}, inplace=True)

In [87]:
df_main_new

,Name,Nachname,Vorname,Wahlperiode,Ersteinzug,MdB,Partei
0,"Abdi, Sanae",NaN,NaN,NaN,NaN,MdB,SPD
1,"Abel, Valentin",NaN,NaN,NaN,NaN,MdB,FDP
2,"Abraham, Knut",NaN,NaN,NaN,NaN,MdB,CDU/CSU
3,"Adler, Katja",NaN,NaN,NaN,NaN,MdB,FDP
4,"Aeffner, Stephanie",Aeffner,Stephanie,20,2022-01-13,MdB,Bündnis 90/Die Grünen
...,...,...,...,...,...,...,...
763,"Zierke, Stefan",Zierke,Stefan,18,2013-11-22,MdB,SPD
764,"Zimmermann, Dr. Jens",NaN,NaN,NaN,NaN,MdB,SPD
765,"Zippelius, Nicolas",Zippelius,Nicolas,20,2021-12-10,MdB,CDU/CSU
766,"Zorn, Armand",NaN,NaN,NaN,NaN,MdB,SPD
767,"Zschau, Katrin",Zschau,Katrin,20,2022-01-13,MdB,SPD

In [88]:
df_main_new.isna().sum()

Name             0
Nachname       429
Vorname        429
Wahlperiode    429
Ersteinzug     429
MdB              0
Partei           0
dtype: int64

In [89]:
# dropping more columns which are not needed for the EDA
df_main_new = df_main_new.drop(["Wahlperiode", "MdB"], axis=1)

### Problem of the NaNs
- Because of the combining of the dfs, there are now lots of NaNs
- Nachname und Vorname should be solvable through splitting Name into those parts (",")
- "Ersteinzug" is lost though for now, the analysis can only be done on the existing values

### filling Nachname and Vorname

In [92]:
# Setze die Nachnamen und Vornamen in den entsprechenden Spalten, wo sie leer sind
df_main_new[['Nachname', 'Vorname']] = df_main_new['Name'].str.split(', ', expand=True)

df_main_new

,Name,Nachname,Vorname,Ersteinzug,Partei
0,"Abdi, Sanae",Abdi,Sanae,NaN,SPD
1,"Abel, Valentin",Abel,Valentin,NaN,FDP
2,"Abraham, Knut",Abraham,Knut,NaN,CDU/CSU
3,"Adler, Katja",Adler,Katja,NaN,FDP
4,"Aeffner, Stephanie",Aeffner,Stephanie,2022-01-13,Bündnis 90/Die Grünen
...,...,...,...,...,...
763,"Zierke, Stefan",Zierke,Stefan,2013-11-22,SPD
764,"Zimmermann, Dr. Jens",Zimmermann,Dr. Jens,NaN,SPD
765,"Zippelius, Nicolas",Zippelius,Nicolas,2021-12-10,CDU/CSU
766,"Zorn, Armand",Zorn,Armand,NaN,SPD
767,"Zschau, Katrin",Zschau,Katrin,2022-01-13,SPD

In [93]:
# dropping "Name", not needed for the EDA because content now stored in "Nachname" and "Vorname"
df_main_new = df_main_new.drop(["Name"], axis=1)

### Extracting academical grade from "Vorname"

In [95]:
# Extracting grade from "Vorname" and adding to new column "Akadem. Grad"
df_main_new['Akadem. Grad'] = df_main_new['Vorname'].str.extract(r'^(Dr\.|Prof\.)')

# Erasing academical grade from "Vorname"
df_main_new['Vorname'] = df_main_new['Vorname'].str.replace(r'^(Dr\.|Prof\.)\s*', '', regex=True)

df_main_new

       Nachname    Vorname  Ersteinzug                 Partei Akadem. Grad
0          Abdi      Sanae         NaN                    SPD          NaN
1          Abel   Valentin         NaN                    FDP          NaN
2       Abraham       Knut         NaN                CDU/CSU          NaN
3         Adler      Katja         NaN                    FDP          NaN
4       Aeffner  Stephanie  2022-01-13  Bündnis 90/Die Grünen          NaN
..          ...        ...         ...                    ...          ...
763      Zierke     Stefan  2013-11-22                    SPD          NaN
764  Zimmermann       Jens         NaN                    SPD          Dr.
765   Zippelius    Nicolas  2021-12-10                CDU/CSU          NaN
766        Zorn     Armand         NaN                    SPD          NaN
767      Zschau     Katrin  2022-01-13                    SPD          NaN

[768 rows x 5 columns]

In [96]:
df_main_new.shape

(768, 5)

In [97]:
df_main_new.isna().sum()

Nachname          0
Vorname           0
Ersteinzug      429
Partei            0
Akadem. Grad    637
dtype: int64

In [98]:
df_main_new.Partei.value_counts()

Partei
SPD                         207
CDU/CSU                     196
Bündnis 90/Die Grünen       117
FDP                          91
AfD                          77
Gruppe Die Linke             28
Gruppe BSW                   10
SPD  *                        9
FDP  *                        7
fraktionslos                  7
CDU/CSU  *                    7
Bündnis 90/Die Grünen  *      4
AfD  *                        2
CDU/CSU  **                   2
SPD  **                       1
Die Linke  *                  1
Gruppe Die Linke  *           1
AfD  **                       1
Name: count, dtype: int64

In [99]:
# erasing all rows which contain "*" because these are not longer members of the parliament
df_main_new = df_main_new[~df_main_new.apply(lambda row: row.astype(str).str.contains(r'\*').any(), axis=1)]

In [100]:
df_main_new.Partei.value_counts()

Partei
SPD                      207
CDU/CSU                  196
Bündnis 90/Die Grünen    117
FDP                       91
AfD                       77
Gruppe Die Linke          28
Gruppe BSW                10
fraktionslos               7
Name: count, dtype: int64

In [101]:
# synchronizing value categories
df_main_new.loc[df_main_new["Partei"].str.contains("BÜNDNIS 90/DIE GRÜNEN", case=False), "Partei"] = "Die Grünen"
df_main_new.loc[df_main_new["Partei"].str.contains("Gruppe Die Linke", case=False), "Partei"] = "Die Linke"
df_main_new.loc[df_main_new["Partei"].str.contains("Gruppe BSW", case=False), "Partei"] = "BSW"

In [102]:
df_main_new.Partei.value_counts()

Partei
SPD             207
CDU/CSU         196
Die Grünen      117
FDP              91
AfD              77
Die Linke        28
BSW              10
fraktionslos      7
Name: count, dtype: int64

In [103]:
df_main_new.Partei.nunique()

8

### Cleaning dates ("Ersteinzug")
- only keeping the year, day and month are of no value for analysis

In [105]:
df_main_new['Ersteinzug'] = df_main_new['Ersteinzug'].str.split('-').str[0]

df_main_new['Ersteinzug']

0       NaN
1       NaN
2       NaN
3       NaN
4      2022
       ...
763    2013
764     NaN
765    2021
766     NaN
767    2022
Name: Ersteinzug, Length: 733, dtype: object

In [106]:
# create copy of cleaned dataframe

df_bt = df_main_new.copy()

In [107]:
df_bt

       Nachname    Vorname Ersteinzug      Partei Akadem. Grad
0          Abdi      Sanae        NaN         SPD          NaN
1          Abel   Valentin        NaN         FDP          NaN
2       Abraham       Knut        NaN     CDU/CSU          NaN
3         Adler      Katja        NaN         FDP          NaN
4       Aeffner  Stephanie       2022  Die Grünen          NaN
..          ...        ...        ...         ...          ...
763      Zierke     Stefan       2013         SPD          NaN
764  Zimmermann       Jens        NaN         SPD          Dr.
765   Zippelius    Nicolas       2021     CDU/CSU          NaN
766        Zorn     Armand        NaN         SPD          NaN
767      Zschau     Katrin       2022         SPD          NaN

[733 rows x 5 columns]

In [108]:
# df_bt export as csv

df_bt.to_csv("df_bt.csv", index=False) # saving data as csv, no new index

In [109]:
df_bt.Ersteinzug.isna().sum()

419